@import "../node_modules/highlight.js/styles/railscasts.css";

body, html {
  margin: 0;
  font: 14px/1.4 'Helvetica Neue', Helvetica, Arial;
  color: #333;
  height: 100%;
  background-color: #31323D;
}

@import 'home/home.styl';