@import "../node_modules/highlight.js/styles/railscasts.css";

body, html {
  margin: 0;
  font: 14px/1.4 'Helvetica Neue', Helvetica, Arial;
  color: #e6e1dc;
  height: 100%;
  background-color: #31323D;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

pre {
  margin: 0;
}

@import 'home/home.styl';